{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "v10.0.0"
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-optional-chaining",
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ]
    ]
}